<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}Default{% end %}</title>

    <script type='text/javascript' src='/static/bower/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript' src='/static/bower/tether/dist/js/tether.min.js'></script>
    <script type='text/javascript' src='/static/bower/bootstrap/dist/js/bootstrap.min.js'></script>

    <link rel='stylesheet' href='/static/bower/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/static/bower/font-awesome/css/font-awesome.min.css'/>

    {% block includes %}{% end %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-sm-12 col-lg-10 offset-md-1 offset-lg-1">
          {% block content %}
            Default content
          {% end %}
        </div>
    </div>
  </body>
</html>
